* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Sora", sans-serif;
    overflow-x: hidden;
}

.hero, .product {
    scroll-snap-align: start;
}

.hero {
    background-image: url(../assets/images/earphone1.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;    
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.hero-text {    
    margin: 10px;    
    color: white;
    padding: 16px;
    margin: 50px;
    position: relative;
    display: flex;
    flex-direction: column;        
    align-items: center;
    border-radius: 16px;
}

.product { 
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px;

    position: relative;
    overflow: hidden;
    opacity: 0;    
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
    opacity: 1;    
}

.product-content {
    color: white;
    width: 100%;
    max-width: 560px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    padding: 20px;
}

.product-content:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: all ease-in-out 0.5s;
}

.product-stats {
    display: grid;
    gap: 10px;
    margin: 10px 0 18px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.stat {
    padding: 10px 12px;
    border-radius: 12px;
    background-color: rgba(255, 102, 0, 0.4);    
    display: flex;
    flex-direction: column;
}

.label {
    color: rgb(214, 214, 214);
    font-size: 13px;
}

.accentColorBlock {
    width: auto;
    height: 20px;
    border-radius: 7px;
    display: inline-block;
}

